* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: var(--theme-bg); */
    /* color: var(--theme-text); */
    font-family: var(--font-texte);
    min-height: 100vh;
    background: var(--theme-bg);
    color: var(--theme-text);
    transition: all 0.3s ease;
}


:root {
  --bg-color: #ffffff;
  --text-color: #111111;
  --color-main: #6750a4;
  --color-second: #f3edf7;
  --color-link: #9b59b6;
  --color-text: #000;
  --font-titre: "Italiana", serif;
  --font-texte: "Inter", sans-serif;
  --gradient: linear-gradient(90deg, #D68910, #CA4311);
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #f3f3f3;
}


h1,
h2,
h3,
h4 {
  color: var(--color-main);
  font-family: var(--font-titre);
  font-weight: 500;
}

@media (min-width: 815px) {
  .container {
    flex-direction: column-reverse;
  }
}


