/* ========================= */
/* VARIABLES GLOBALES */
/* ========================= */

:root {

  /* Typographies */
  --font-titre: "Italiana", serif;
  --font-texte: "Inter", sans-serif;

  /* Couleurs UI génériques */
  --color-main: #6750a4;
  --color-second: #f3edf7;
  --color-link: #9b59b6;

  /* Animations */
  --anim-fast: 0.3s;
  --anim-medium: 0.4s;
  --anim-slow: 0.6s;

  /* Logo animation */
  --logo-scale: 1.4;
  --logo-rise: -4px;
  --nav-lift: -4px;

  /* Layout */
  --header-height: 90px;
}


/* ========================= */
/* Fond et texte selon thème */
/* ========================= */

/* HEADER GLASSMORPHISM + THEME DARK  */
:root[data-theme="neon"],
:root[data-theme="cyber"],
:root[data-theme="nuage"],
:root[data-theme="triste"] {
  --header-bg: rgba(10, 10, 10, 0.182);
  --theme-bg: #000000;       
  --theme-text: #FFFFFF;   
}

/* HEADER GLASSMORPHISM + THEME LIGHT */
:root[data-theme="joie"],
:root[data-theme="vintage"] {
  --header-bg: rgba(255,255,255,0.55);
  --theme-bg: #fff;       
  --theme-text: #000;   
}

/* Neon (dark) */
:root[data-theme="neon"] {
  --primary-color: rgba(9, 195, 71, 0.85);  
  --secondary-color: #9D00FF;
  --tertiary-color: #14CB51;
  --gradient: linear-gradient(90deg, #39FF14, #14CB51, #9D00FF);
  --btn-bg: #39FF14;
  --btn-color: #000000;
  --btn-hover-bg: #9D00FF;
  --logo-glow: 0 0 3px rgba(57,255,20,0.6), 0 0 10px rgba(20,203,81,0.5);
}

/* Cyber (dark) */
:root[data-theme="cyber"] {
  --primary-color: #00FFFF;
  --secondary-color: #FF00FF;
  --gradient: linear-gradient(90deg, #00FFFF, #FF00FF);
  --btn-bg: #00FFFF;
  --btn-color: #000000;
  --btn-hover-bg: #FF00FF;
  --logo-glow: 0 0 3px rgba(0,255,255,0.6), 0 0 10px rgba(255,0,255,0.5);
}

/* Nuage (dark + bg) */
:root[data-theme="nuage"] {
  --primary-color: #B8E0D2;
  --secondary-color: #95B8D1;
  --gradient: linear-gradient(90deg, #B8E0D2, #95B8D1, #EAC4D5);
  --btn-bg: #B8E0D2;
  --btn-color: #FFFFFF;
  --btn-hover-bg: #EAC4D5;
  --theme-bg: url('../../assets/img/m.jpg') no-repeat center center / cover fixed;
}


/* Triste (dark + bg) */
:root[data-theme="triste"] {
  --primary-color: #9CA7C0;  
  --secondary-color: #6B7A8F;    
  --gradient: linear-gradient(90deg, #9CA7C0, #6B7A8F);
  /* Boutons */
  --btn-bg: #9CA7C0;
  --btn-color: #1B1B1B;          /* texte sombre pour boutons */
  --btn-hover-bg: #6B7A8F;
  --theme-bg: url('../../assets/img/sad-bg.jpg') no-repeat center center / cover fixed; 
}


/* Joie (light) */
:root[data-theme="joie"] {
  
  --primary-color: #FFB347;
  --secondary-color: #FF7F50;
  --gradient: linear-gradient(90deg, #d68910, #ca4311);
  --btn-bg: #FFB347;
  --btn-color: #FFFFFF;
  --btn-hover-bg: #FF7F50;
}

/* Vintage (light)  */
:root[data-theme="vintage"] {
  --primary-color: #9A879D;
  --secondary-color: #7A3B69;
  --gradient: linear-gradient(90deg, #9A879D, #7A3B69);
  --btn-bg: #9A879D;
  --btn-color: #FFFFFF;
  --btn-hover-bg: #7A3B69;
}