.article-card.themed {
  position: relative;
  margin: 2rem auto;
  max-width: 700px;
  color: var(--theme-text);
  font-family: var(--theme-text);
  text-align: center;
}
h3 {
  margin: 1rem;
  padding: 1rem;
  font-size: 24px;
}
/* AnimatedText */
.animated-word {
  /* opacity: 0; */
  color: var(--theme-text);
  animation: wordFade 1.5s ease-out forwards;
  margin-top: 0.4rem;
  font-style: italic;
}

@keyframes wordFade {
  0% { opacity: 0.1; }
  50% { opacity: 0.6; }
  100% { opacity: 4; }
}

.animated-text-button {
  cursor: pointer;
  background: var(--gradient);
  color: var(--btn-color);
  border: none;
  padding: 0.5rem 1rem;
  transition: transform 0.2s ease, background 0.2s ease;
}

.animated-text-button:hover {
  transform: scale(1.05);
  background: var(--btn-hover-bg);
}

.article-viewer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  width: 100%;
  padding: 2rem 1rem;
  text-align: center;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.pagination button {
  padding: 0.5rem 1rem;
  border: none;
  background: var(--gradient);
  color: var(--btn-color);
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.pagination button:hover {
  transform: scale(1.05);
}