
form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-group {
    margin: 20px 0;
    position: relative;
}

.input-group label {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 15px;
    font-size: 16px;
    pointer-events: none;
    color: var(--theme-text); /* texte adaptatif au thème */
    padding: 0 5px;
    transition: .3s;
    background: var(--theme-bg); 
    
}

.input-group input {
    width: 360px;
    height: 60px;
    color: var(--theme-text); /* texte adaptatif */
    font-size: 16px;
    padding: 0 15px;
    border: 1.2px solid var(--primary-color); /* couleur du theme */
    /* background: transparent; */
    outline: none;
    border-radius: 5px;
}

:root[data-theme="triste"],
:root[data-theme="nuage"],
:root[data-theme="neon"],
:root[data-theme="cyber"] { 
    .input-group input {
        background: transparent;
    }
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
    top: 0;
    background: var(--theme-bg); /* label fond adaptatif */
    font-size: 14px;
}

/* Bouton adaptatif au theme */
button[type="submit"] {
    background: var(--btn-bg);
    color: var(--btn-color);
    border: none;
    border-radius: 6px;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

button[type="submit"]:hover {
    background: var(--btn-hover-bg);
}

.login-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* au-dessus de tout */
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.2rem;
  background: transparent;
  border: none;
  color: var(--theme-text);
  cursor: pointer;
}
